{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "printWidth": 240,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "strict"
} 